/* Background and body */
body {
    background-color: #800000; /* Maroon */
    color: #FFFFFF; /* White */
}

/* Links */
a {
    color: #FFD700; /* Gold */
    border-bottom: dotted 1px #FFD700; /* Gold */
}

a:hover {
    color: #FFFFFF; /* White */
    border-bottom-color: transparent;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF; /* White */
}

/* Buttons */
.button {
    background-color: #FFD700; /* Gold */
    color: #800000; /* Maroon */
    border-color: #FFFFFF; /* White */
}

.button:hover {
    border-color: #FFD700; /* Gold */
}

.button.primary {
    background-color: #FFD700; /* Gold */
    color: #800000 !important; /* Maroon */
}

/* Form inputs */
input, select, textarea {
    background-color: #FFFFFF; /* White */
    border-color: #FFD700; /* Gold */
    color: #800000; /* Maroon */
}

input:focus, select:focus, textarea:focus {
    border-color: #FFD700; /* Gold */
    box-shadow: 0 0 0 1px #FFD700; /* Gold */
}

/* Blockquote */
blockquote {
    border-left: solid 4px #FFD700; /* Gold */
    color: #FFFFFF; /* White */
}

/* Lists */
ol {
    list-style: decimal;
    color: #FFFFFF; /* White */
}

ul {
    list-style: disc;
    color: #FFFFFF; /* White */
}

/* Box */
.box {
    background-color: #800000; /* Maroon */
    border-color: #FFD700; /* Gold */
    color: #FFFFFF; /* White */
}

/* Icon */
.icon.major {
    background: #FFD700; /* Gold */
    color: #800000; /* Maroon */
}

/* Table */
table {
    border-color: #FFD700; /* Gold */
}

th, td {
    border-color: #FFD700; /* Gold */
    color: #FFFFFF; /* White */
}

/* Misc */
hr {
    border-color: #FFD700; /* Gold */
}
